@import "@/styles/stylesheet";

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: getSpacing(2);
  border: 1px solid $goldenDarkest;
  gap: getSpacing(2);
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}

.goldenColor {
  color: $goldenDarkest;
}

.uppercase {
  text-transform: uppercase;
}

.disclaimer {
  text-align: center;
  font-size: $fontSizeSmaller;
}
