@import "@/styles/stylesheet";

.dialogTitle {
  margin: 0;
  font-weight: 500;
  font-size: $fontSizeExtraLarge;
  text-align: center;
}

.dialogContent {
  max-width: 750px;
  text-align: center;
  margin-top: getSpacing(4);
}

.buttonContainer {
  margin-top: getSpacing(4);
  display: flex;
  justify-content: center;
}
