@import "@/styles/stylesheet";

.container {
  position: relative;
  width: 378px;
  display: flex;
  flex-direction: column;
  background-color: $black;
  color: $greyDark;
  text-transform: uppercase;

  @include isDesktop {
    width: 240px;
    min-width: 240px;
  }
}

.container:hover {
  text-decoration: none;
  filter: contrast(1.5);
}

.overlay {
  position: absolute;
  top: getSpacing(1);
  bottom: getSpacing(1);
  left: getSpacing(1);
  right: getSpacing(1);
  z-index: 1;
}

.overlay:hover {
  border: 1px solid $white;
}

.white {
  background-color: $white;
  color: $greyDarkest;
}

.imageContainer {
  position: relative;
  height: 248px;
  width: 100%;

  @include isDesktop {
    height: 156px;
    min-height: 156px;
  }
}

.estateName {
  font-size: $fontSizeMedium;
  letter-spacing: 2px;
  font-weight: bold;
  text-align: center;
  margin: getSpacing(3);

  @include isDesktop {
    margin: getSpacing(5);
  }
}

.regionName {
  color: $golden;
  text-align: center;
  margin-top: auto;
  margin-bottom: getSpacing(5);
}
