@import "@/styles/stylesheet";

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: getSpacing(2);
}

.button {
  display: flex;
}

.notRefined:not(:focus) {
  font-style: italic;
}
