@import "@/styles/stylesheet";

.link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: getSpacing(2);
  border-top: 1px solid $greyLighter;
  padding: getSpacing(3) 0;
  width: 100%;
}

.link:hover {
  text-decoration: none;
  background-color: $golden;
  color: $white;
}

.caretRight {
  vertical-align: middle;
}
