@import "@/styles/stylesheet";

.pageContainer {
  @include mainContainerPadding;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: getSpacing(8) 0;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: getSpacing(4);
  max-width: 700px;
  align-items: center;
  padding: getSpacing(8);
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  background-color: $white;
}

.icon {
  min-width: 32px;
  margin: 0 getSpacing(2);
}
