@import "@/styles/stylesheet";

.errorMessage {
  color: $red;
  font-size: $fontSizeSmall;
  text-align: center;
}

.errorCauses {
  text-align: left;
  background-color: $greyLight;
  padding: getSpacing(4);
  border: $red;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: getSpacing(3);
}
