@import "@/styles/stylesheet";

.countdownContainer {
  width: 100%;
  display: flex;
  gap: getSpacing(5);
  align-items: center;
  font-size: $fontSizeBase;
  padding: getSpacing(3) getSpacing(5);
  color: $white;
  border-radius: getSpacing(1);
}

.shippingOptimized {
  background-color: $green;
}

.shippingUnoptimized {
  background-color: $brickRed;
}

.shipping {
  font-weight: 500;
  display: flex;
  margin: 0.75rem 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.closeIcon {
  cursor: pointer;

  &:hover {
    color: $grey;
  }
}
