@import "@/styles/stylesheet";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: getSpacing(5);
  gap: getSpacing(4);
  background: #f6f4f2;

  @include isTabletOrDesktop {
    flex-direction: column;
    padding: getSpacing(10);
  }
}

.title {
  text-align: left;
  font-size: $fontSizeMedium;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: getSpacing(3);
  width: 100%;
  margin-top: getSpacing(-3);
}

.underTitleBox {
  display: flex;
  justify-content: center;
}

.deal {
  color: $goldenLighter;
}
