@import "@/styles/stylesheet";

.iframeContainer {
  display: flex;
  flex-direction: column;
  gap: getSpacing(4);
  align-items: center;
  margin: 0 auto;
  padding: getSpacing(4);
  max-width: 1600px;
  @include isMobileOrTablet {
    padding: getSpacing(2);
  }
}

.iframe {
  border: none;
  width: 100%;
  min-height: 600px;
  @include isMobileOrTablet {
    min-height: 300px;
  }
}

.disconnectedTitle {
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: getSpacing(4) 0 getSpacing(2);
}

.connexionButton {
  text-transform: none;
  font-weight: bold;
  letter-spacing: 1.5px;
}
