@import "@/styles/stylesheet";

.formContainer {
  display: flex;
  flex-direction: column;
  gap: getSpacing(2);
}

.errorMessage {
  color: $red;
  font-size: $fontSizeSmall;
  text-align: center;
}
