@import "@/styles/stylesheet";

.content {
  padding: getSpacing(6);
  border: 1px solid $greyLight;
  border-radius: 10px;
  line-height: 1.5;
}

.writtenContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  text-align: center;

  @include isDesktop {
    text-align: left;
  }
}

.title {
  text-transform: uppercase;
  font-family: $fontFamily;
  letter-spacing: $letterSpacingMedium;
  width: 100%;
  font-size: $fontSizeMedium;
}

.paragraph {
  margin: getSpacing(3) 0;
}
