@import "@/styles/stylesheet";

.container {
  width: $mobilePDPCarouselWidth;
  display: flex;
  flex-direction: column;
  margin: auto;
  // A custom breakpoint is necessary for small devices
  @media (max-width: 350px) {
    max-width: 280px;
  }
}

.imageContainer {
  min-width: 100%;
}

.image {
  object-fit: contain;
  cursor: zoom-in;
}

.showOnMobile {
  display: contents;
}

.showOnDesktop {
  display: none;
}

@include isTabletOrDesktop {
  .container {
    padding-right: getSpacing(2);
    width: $desktopPDPCarouselWidth;
    display: flex;
    flex-direction: row-reverse;
  }

  .showOnMobile {
    display: none;
  }

  .showOnDesktop {
    display: contents;
  }
}

.magnifier {
  z-index: 50;
  border-width: 4px;
  border-radius: 50%;
  pointer-events: none;
  position: absolute;
}

.imageWrapper {
  width: 20rem;
  height: 24rem;
  position: relative;
  overflow: hidden;
}
