@import "@/styles/stylesheet";

.adjudicatedSearchForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-style: arial;
  background-color: $white;
  outline: 1px solid $grey;
  width: 100%;
  align-items: center;
  padding: getSpacing(3);

  @include isDesktop {
    width: 30%;
  }
}

.select {
  width: 80%;
}

.button {
  margin-top: getSpacing(3);
}

.button:hover {
  text-decoration: none;
}
